<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />

<div class="add-new-data-point-page">
  <div class="form">
    <header style="font-size:26px; font-weight:bold;">Add New Data Point</header>
    <br><br>
    <form class="new-data-point-form" action="add-new-data-point" method="POST">
      <label>POI Location Name</label>
        <select name="poi_location">
          {% for location in locations %}
            <option value={{ location[0].replace(' ', '+') }}>{{ location[0] }}</option>
          {% endfor %}
        </select>
      <p class="message"><a href="{{ url_for('add_new_poi_location')}}">Add new POI location</a></p><br>
      <label>Date / Time</label>
        <input type="datetime-local" name="datetime"></input><br><br>
      <label>Data Type</label>
        <select name="data_type">
          {% for type in data_types %}
          <option value={{ type[0].replace(' ', '+') }}>{{ type[0] }}</option>
          {% endfor %}
        </select>
      <input type="number" name="value" id="value" placeholder="value">
      <br><br>
      <button>Submit</button>
      <p id = "feedback"  style="color: red">{{error}}</p>
      <br>
      <a style="text-align:left" href="{{ url_for('cityScientist')}}">Back</a>
    </form>
  </div>
</div>