<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='registration.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />

<div class="registration-page">
  <div class="form">
    <form class="registration-form">
      <input type="text" id="username" placeholder="username"/>
      <input type="text" id="email" placeholder="email address"/>
      <input type="password" id="password" placeholder="password"/>
      <input type="password" id="confpassword" placeholder="confirm password"/>
      <p> User Type </p> 
          <select name="usertype">
          <option value="cityscientist">City Scientist</option>
          <option value="cityofficial">City Official</option>
          </select>
      <br><br>
      <div id = "otherparams" style="display:none;">
      <input id="city" type="text" placeholder="City"/>
      <input id = "state" type="text" placeholder="State"/>
      <input id = "title" type = "text" placeholder="Title"/>
      </div>
      <button>create</button>
      <p class="message">Already registered? <a href="{{ url_for('login')}}">Sign In</a></p>
    </form>
  </div>
</div>