<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />

<div class="search-data-point">
  <div class="form">
    <header style="font-size:26px; font-weight:bold;">View POIs</header>
    <br><br>
    <form class="new-search-form" action="search-data-point" method="POST">
      <label>POI Location Name</label>
        <select name="poi_location">
          {% for location in locations %}
            <option value={{ location[0].replace(' ', '+') }}>{{ location[0] }}</option>
          {% endfor %}
        </select>
      <br>
      <label>Date/Time Range </label>
        <input type="date" name="datetime1"></input><br><br>
        <input type="date" name="datetime2"></input><br><br>
      <label>Data Type</label>
        <select name="data_type">
          {% for type in datatype %}
          <option value={{ type[0].replace(' ', '+') }}>{{ type[0] }}</option>
          {% endfor %}
        </select>
      <label>City</label>
        <select name="city">
          {% for city in cities %}
            <option value={{ city[0].replace(' ', '+') }}>{{ city[0] }}</option>
          {% endfor %}
        </select>
      <br><br>
      <label>State</label>
        <select name="state">
          {% for state in states %}
            <option value={{ state[0].replace(' ', '+') }}>{{ state[0] }}</option>
          {% endfor %}
        </select>
      <br><br><br>
      <label> Flagged? </label>
      <input type="radio" name="flaggedy" value="1"> Yes </input> <br>
      <br><br><br>
      <button>Submit</button>
      <p id = "feedback"  style="color: red">{{error}}</p>
      <p id= "results"> <table>
        <tr>
          <th>Location Name</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Flagged?</th>
          <th>Date Flagged</th>
      </tr> 
        {%for data in data_points%}
        <tr> 
            <td>{{data[0]}}</td>
            <td>{{data[4]}}</td>
            <td>{{data[5]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
        </tr>
        {% endfor %}
</table> </label></p>
    </form> 
  </div>
</div>